python=3.8.13
requests=2.28.1
numpy=1.23.1
pandas=1.4.3
geopandas=0.12.1
SQLAlchemy=1.4.39
matplotlib=3.5.2
keplergl=0.3.2
Shapely=1.8.5.post1
beautifulsoup4=4.11.1
ipympl=0.9.1
ipywidgets=7.7.1
jupyter=1.0.0
jupyterlab-widgets=1.1.1
nodejs=16.13.1
notebook=6.4.12
sqlite=3.40.0
tqdm=4.63.0
urllib3=1.26.8
widgetsnbextension=3.6.1